.accessMessage {
  margin-top: 20px;
  text-align: center; /* Center the text */
}

.greenEmail {
  color: #00BF63; /* Green color for the email */
  font-weight: bold;
}

.copyButton {
  margin-top: 10px; /* Add some space above the button */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #00BF63;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block; /* Make button an inline-block element */
}

.copyButton:hover {
  background-color: #009B50; /* Darker green on hover */
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full height of the viewport */
  padding: 20px; /* Optional padding */
}

.form {
  width: 100%;
  max-width: 600px; /* Keep the max width */
  margin: 0 auto; /* Center the form */
}
