.loginContainer {
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  background-color: white;
  color: #333;
  border-radius: 10px;
  padding: 30px;
  max-width: 800px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.h2 {
  color: #00ab59;
  font-weight: 700;
  font-size: larger;
  text-align: center;
}

.inputField {
  margin-bottom: 20px;
  text-align: left;
  font-size: larger;
  font-family: inherit; /* Use browser default font */
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: x-large;
  font-family: 'Inter', sans-serif; /* Use browser default font */
}

.button {
  background-color: #00BF63;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
  width: 250px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #009950;
}

.errorMessage {
  color: red;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}

.signupLink {
  font-size: large;
  text-align: center;
  margin-top: 15px;
}

.link {
  color: #00ab59;
  text-decoration: none; /* Removes underline by default */
  transition: text-decoration 0.3s ease;
}

.link:hover {
  text-decoration: underline; /* Underline on hover */
}
