.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.search-title {
    font-size: 3.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.search-form {
    position: relative; /* Added to position suggestions relative to the search form */
    width: 100%;
    max-width: 400px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .suggestions {
    position: absolute;
    top: 100%; /* Ensure it appears below the search bar */
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none; /* Remove the top border to visually connect with the search bar */
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000; /* Ensure it appears above other elements */
    margin-top: 2px; /* Slight margin to avoid overlap */
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }